{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<section id="hero" class="hero-full">
      <div id="page-title" class="wrapper align-center">
          <h2>We couldn't find the page <br>you were looking for</h2>
          <div class="spacer-medium"></div>
          <h1 class="notfound"><strong>404</strong></h1>
          <div class="spacer-medium"></div>
          <a href="/" class="sr-button">Back to homepage</a>
      </div>
  </section>

{% endblock content %}
